.mainContainer {
    width: 50vh;
    align-items: center;
}

@media(max-width: 768px) {
    .mainPage {
        display: flex;
        flex-direction: column;
    }

    .mainContainer {
        width: auto
    }
}